<mat-card class="counter-card" *ngIf="value">
    <mat-card-header>
      <mat-card-title><b>{{"#"+value.id + " " + "Counter" + " " + value.name}}</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>
        <br> Value : {{value.value}}   <!-- CounterService.initial_value[position] -->
    </b></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="increment()"><b>+</b></button>
      <button mat-button (click)="decrement()"><b>-</b></button>
      <button mat-button (click)="reset()"><b>RESET</b></button>

    </mat-card-actions>
  </mat-card>